SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,api.thonetidairy.com

# Database settings
DB_NAME=Thoneti
DB_USER=postgres
DB_PASSWORD=your_production_secure_password
DB_HOST=db
DB_PORT=5432
